[global]
repo_url={{ wapt_server_url }}
send_usage_report=1
use_hostpackages=1
wapt_server={{ wapt_repo_url }}
check_certificates_validity=1
verify_cert={{ waptagent_config_crt }}
dnsdomain=
waptaudit_task_period=120m
use_repo_rules=1